<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalhes - Projeto para Orçamento</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<a href="/projetosorcamento" class="btn-voltar">← Voltar</a>

<h2>Projeto 1</h2>
<p>Informações sobre o projeto</p>

<form>
    <label>Nome do cliente</label><br>
    <input type="text"><br><br>

    <label>Tipo de obra</label><br>
    <input type="text"><br><br>

    <label>Medidas da obra:</label><br>
    <input type="text" placeholder="Comprimento">
    <input type="text" placeholder="Largura">
    <input type="text" placeholder="Altura"><br><br>

    <label>Descrição do projeto</label><br>
    <input type="text"><br><br>

    <button type="submit">Projeto concluído</button>
</form>
</body>
</html>
