<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projeto em Espera</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<a href="/projetosemespera" class="btn-voltar">← Voltar</a>

<h2>Projeto 1</h2>
<p>Informações sobre o projeto</p>

<form>
    <label>Nome do cliente</label><br>
    <input type="text"><br><br>

    <label>Número de telemóvel do cliente</label><br>
    <input type="text"><br><br>

    <label>Morada da obra</label><br>
    <input type="text"><br><br>

    <label>Código Postal</label>
    <input type="text">
    <label>Distrito</label>
    <input type="text">
    <label>Concelho</label>
    <input type="text"><br><br>

    <label>Descrição do projeto</label><br>
    <input type="text"><br><br>

    <label>Valor orçamento</label><br>
    <input type="text"><br><br>
</form>
</body>
</html>
